@{
    ViewData["Title"] = "Student Admin Tool";
    ViewData["InstructionTitle"] = "Student Admin Tool";
}

<div class="col-12">
    <div class="card">

        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Dropdown Menu</h6>
                </li>

                <li><a class="dropdown-item" href="#">Itdm</a></li>
                <li><a class="dropdown-item" href="#">Item2</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">Home <span>/Nice</span></h5>
</div>
</div>
</div>